---
interface Props {
  href: string;
  src: string;
  name: string;
  description: string;
  price: string;
}

const { href, src, name, description, price } = Astro.props;
---

<article
  class="group rounded-lg shadow-lg hover:shadow-xl transition-transform duration-300 ease-in-out hover:-translate-y-2"
>
  <a href={href}>
    <picture>
      <img
        src={src}
        alt="A futuristic product from atom"
        width="500"
        height="400"
        class="object-cover w-full h-64 rounded-t-lg"
      />
    </picture>

    <div class="p-4 space-y-2">
      <h3 class="text-purple font-inter-bold text-xl">{name}</h3>
      <p class="text-gray">{description}</p>
      <p class="text-gray text-end font-inter-bold">{price}</p>
    </div>
  </a>
</article>
